<button class="btn-new" routerLink="/customer">Post New Customer </button>
<button routerLink="/home">
    Home
</button>

<br><br>


<input type="text" placeholder="Search customer by name" [(ngModel)]="searchText" (input)="searchCustomer()">

<div *ngIf="customerNotFound" class="not-found">
    Customer Not Found
</div>


<h2>All Customers</h2>
<table *ngIf="customers.length > 0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>PhoneNo</th>
            <th>role</th>
            <th>Action</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phoneNo}}</td>
            <td>{{customer.role}}</td>

            <td *ngIf="role=='ADMIN'">
                <button class="btn-update" [routerLink]="['/update-customer',customer.id]">Update</button>
                <button class="btn-delete" (click)="deleteCustomer(customer.id)">Delete</button>

            </td>
        </tr>
    </tbody>
</table>